<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': love > '0',
                'list-group-item-danger': love < '0'}" >

  
  <h4 style="float: left;">{{ itemName }}</h4>
  <span style="float: right">{{ lastUpdate | async | date:'short' }}</span>
  <br><br>
  
  <p>{{ itemDescription }}</p>

  <button class="btn btn-success" 
          [disabled]="!isAuth"
          (click)="onLove()">Love It !</button>
  <button class="btn btn-danger" 
          [disabled]="!isAuth"
          (click)="offLove()">Don't love It !</button>

  <button class="btn btn-danger"
        style="float: right;"
        [disabled]="!isAuth"
        (click)="supprime()">Supprimer Tout !</button>

</li>
